.carrousel-img {

    height: 450px
}

.carrousel-all {
    width: 20%;
}

.carrousel-container {
    background: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;

}

.loader-container {
    height: 100vh;
}


.loader {
    margin-top: 300px;
    width: 200px;
    height: 200px;

}


@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text-container {
    width: 30%;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif
}

.slogan {
    margin-top: 30px;
}