.footer {
    text-align: center;
    font-size: 1.9em;
    padding: 40px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.address {
    font-style: normal;
    font-size: 0.9em;
    margin-bottom: 30px;
}

.footer a {
    color: rgb(67, 163, 230);
    text-decoration: none;

}

.footer ul {
    list-style: none;
    padding: 0;

}

.map-frame {
    height: 300px;
    width: 50%;
}

.logo-container {
    display: flex;
    justify-content: space-around;
}

.rsss-logo {
    width: 40px;
    margin: 30px;
    flex-direction: row;
}