.App {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url('/public/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}